{% extends 'ru/base.html' %}

 {% block style %}

<style type="text/css">


</style>
{% endblock style %}

 {% block content %}


 <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline services-head text-center">
            <h3 id="manitor">Мониторинг градостроительной деятельности</h3>
            <hr>
          </div>
</div>


        <div class="modal-body">
          <div class="modal-img">
            <a  data-magnify="gallery" data-caption="Градостроительная документация" href="/static/img/img_pods/7.jpg">
            <img src="/static/img/img_pods/7.jpg" width="60%" class="pod_img"></a>
          </div>

            <hr>

            <div class="modal-text">
               <ul class="modal_p_ul">
              <p>
                <b id="pod3_b1">«Мониторинг градостроительной деятельности»</b> - <span id="pod3_span1">предназначена для учета и анализа происходящих изменений объектов ГГК и соответствия положениям утвержденной градостроительной документации и состоит из:</span>
              </p>
               <li id="pod3_li1">
                материалов контроля за соблюдением условий, регламентов и режима градостроительной деятельности на учетной территории;
               </li>
               <li id="pod3_li1_1">
                материалов исполнительной съемки объекта законченного строительства.
              </li>
              </ul>
              <hr>
              <p class="modal_p">
              <b id="pod3_b2">Мониторинг градостроительной деятельности (МГД) -  </b>- <span id="pod3_span2">- это система наблюдений за состоянием и изменением объектов градостроительной деятельности, которые ведутся по единой методике посредством изучения состояния среды жизнедеятельности.</span>
              </p>

             <p class="modal_p" id="pod3_p1">
              Объектом градостроительного мониторинга выступает вся городская территория (с учетом надземных и подземных пространств), независимо от форм собственности на землю, целевого назначения и характера ее использования.
            </p>
            <hr>
            <ul class="modal_p_ul">
            <p id="pod3_p2">
             Для получения необходимой информации при осуществлении градостроительного мониторинга основными методами должны выступать:
            </p>
              <li id="pod3_li2">дистанционное зондирование;</li>
              <li id="pod3_li3">современный и ретроспективный анализ данных, получаемых в результате инвентаризации земель и застройки, проверок, обследований, контрольно-ревизионной работы;</li>
              <li id="pod3_li4">наземные специальные съемки и наблюдения (в том числе и с применением геодезических инструментов).</li>
            </ul>
            <p class="modal_p" id="pod3_p3">
                Система мониторинга должна обладать способностью подстроиться под изменения в законодательной базе и позволять оперативно формировать необходимые регламентные документы, например градостроительный план земельного участка.
            </p>
            </div>
          <hr>

<div class="row">
           <div class="col-md-6 col-sm-6 col-xs-12">
 <div class="modal-img">
              <a data-magnify="gallery" data-caption="Градостроительная документация" href="/static/img/img_pods/8.jpg"><img class="pod_img" src="/static/img/img_pods/8.jpg"></a>

            </div>
    </div>
           <div class="col-md-6 col-sm-6 col-xs-12">
             <div class="modal-img">
              <a data-magnify="gallery" data-caption="Градостроительная документация" href="/static/img/img_pods/9.jpg"><img class="pod_img" src="/static/img/img_pods/9.jpg"></a>
            </div>

            </div>
</div>

 </div>




 {% endblock content %}


 {% block script %}

{% endblock script %}