 {% extends 'base.html' %}

 {% block style %}
<style type="text/css">

</style>
{% endblock style %}
 
 {% block content %}
 
      
 <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline services-head text-center">
            <h3 id="pod5_h3">Adres reestrlari</h3>
            <hr>
          </div>
</div>

<div class="modal-body">

            <div class="modal-text">  
                <p class="modal_p" id="pod5_p1">
              Adres reestrlari manzillarni unikal identifikatsiyalash va davlat shaharsozlik kadastri geoaxborot tizimlarining quyi tizimlarida foydalanish uchun mo‘ljallangan, korxona va tashkilotlarning yangi tashkil etilgan axborot tizimlarida, shuningdek mavjud tizimlarni modernizatsiya qilishda yoki ular o‘rtasida ma‘lumot almashishda.
            </p>
              <p class="modal_p" id="pod5_p2">
              Adres reestrlarining tuzilishi, haqiqiy manzil ma‘lumotiga qo‘shimcha ravishda, ko‘chmas mulk ob‘ektlarining kadastr (inventarizatsiya) raqamlari, soliq xizmatlari manzillari tasniflagichi kodlari, pochta indekslari va boshqa belgilar kabi ma‘lumotlarni o‘z ichiga olishi mumkin.
            </p>
          <p class="modal_p" id="pod5_p3">
             Adres reestrlari - hududning ma‘muriy-hududiy tuzilishi va joylashuv tashkilot tuzilishiga muvofiq tizimlashtirilgan manzillashtirish ob‘ektlari to‘g‘risidagi rasmiy hujjatlashtirilgan ma‘lumotlar to‘plami.
            </p>

            </div>
            <hr>
<div class="row">
           <div class="col-md-6 col-sm-6 col-xs-12">
 <div class="modal-img">
            <a  data-magnify="gallery" data-caption="Градостроительная документация" href="/static/img/img_pods/pod5_22.png"><img src="/static/img/img_pods/pod5_22.png" class="pod_img"></a>
          </div>
    </div>
           <div class="col-md-6 col-sm-6 col-xs-12">
  <div class="modal-img">
            <a  data-magnify="gallery" data-caption="Градостроительная документация" href="/static/img/img_pods/pod5_1.png"><img src="/static/img/img_pods/pod5_1.png" class="pod_img"></a>
          </div>
            
            </div>
</div>
<hr>
        
            <div class="modal-text">  
              <ul class="modal_p_ul">
              <p id="pod5_p4">
              Adres reestrlari quyidagi funktsiyalarini ajratish mumkin:
            </p>
              <li id="pod5_li1">qo‘shish, tahrirlash, adres reestrlari semantik ob‘ektlarini yo‘q qilish (ma‘muriy-hududiy bo‘linish ob‘ektlari, ko‘chalar, ko‘chalardagi manzil bo‘linmalari, ma‘lumotnomalar);</li>
              <li id="pod5_li2">adres reestrining grafik ko‘rinishini yuritish (grafik ob‘ektlarni saqlash, semantikani grafikaga bog‘lash);</li>
              <li id="pod5_li3">xaritada ob‘ektlarni ko‘rsatish.</li>
            <p id="pod5_p5">
              Adres reestri - bu har xil tuzilishga oid ma‘lumotlarni saqlash uchun mo‘ljallangan ikkita o‘zaro bog‘liq bo‘lgan tarkibiy elementlarning birikmasi:
            </p>
              <li id="pod5_li4">adresining hududiy ob‘ektlar tavsifi (manzil rejasi);</li>
              <li id="pod5_li5">semantik xususiyatlar (manzilning tarkibiy elementlarining nomlari).</li>
            </ul>

            </div>
<hr>
 <div class="row">
           <div class="col-md-6 col-sm-6 col-xs-12">
<div class="modal-img">
              <a data-magnify="gallery" data-caption="Градостроительная документация" href="/static/img/img_pods/14.jpg"><img class="pod_img" src="/static/img/img_pods/14.jpg"></a>
            </div>
    </div>
           <div class="col-md-6 col-sm-6 col-xs-12">
<div class="modal-img">
              <a data-magnify="gallery" data-caption="Градостроительная документация" href="/static/img/img_pods/15.jpg"><img class="pod_img" src="/static/img/img_pods/15.jpg"></a>
            </div>
            
            </div>
</div>


</div>



<script language="javascript" type="text/javascript">
    function langs1(){
     var val = document.getElementById("langs1").value;
         if(val == 2){
                document.getElementById("pod5_h3").innerHTML = "Адресный реестр";
                document.getElementById("pod5_p1").innerHTML = "Адресный реестр предназначен для уникальной идентификации адресов и использования в подсистемах геоинформационной системы ГГК, во вновь создаваемых информационных системах предприятий и организаций, а также при модернизации существующих систем или при обмене информацией между ними.";
                document.getElementById("pod5_p2").innerHTML = "В структуру адресного реестра, кроме собственно адресной информации, могут входить такие реквизиты, как кадастровые (инвентарные) номера объектов недвижимости, коды по классификатору адресов налоговых служб, почтовые индексы и, другие характеристики.";
                document.getElementById("pod5_p3").innerHTML = "Адресный реестр представляет собой систематизированный в соответствии с административно-территориальным устройством и пространственной организацией территории свод официальных документированных сведений об объектах адресации.";
                document.getElementById("pod5_p4").innerHTML = "Можно выделить следующие функции адресного реестра:";
                document.getElementById("pod5_li1").innerHTML = "добавление, редактирование, удаление семантических объектов адресного реестра (объекты административно-территориального деления, улицы, адресуемые единицы на улицах, справочники);";
                document.getElementById("pod5_li2").innerHTML = "ведение графического представления адресного реестра (ведение объектов графики, привязка семантики к графике);";
                document.getElementById("pod5_li3").innerHTML = "отображение объектов на карте.";
                document.getElementById("pod5_p5").innerHTML = "Адресный реестр является совокупностью двух взаимоувязанных структурных элементов, предназначенных для хранения различной по своей структуре информации:";
                document.getElementById("pod5_li4").innerHTML = "пространственного описания объекта адресации (адресный план);";
                document.getElementById("pod5_li5").innerHTML = "семантических характеристик (наименования структурных элементов адреса).";


                document.getElementById("boshsahifa").innerHTML = "Главный";
                document.getElementById("ichkitizimlar").innerHTML = "Подсистемы";
                document.getElementById("bog'lanish").innerHTML = "Контакт";
                document.getElementById("register").innerHTML = "Регистрация";
                document.getElementById("kirish").innerHTML = "Войдите в геопортал";
                document.getElementById("ochiq").innerHTML = "Открытые данные";

                }

        else if(val == 1){
                document.getElementById("pod5_h3").innerHTML = "Adres reestrlari";
                document.getElementById("pod5_p1").innerHTML = "Adres reestrlari manzillarni unikal identifikatsiyalash va davlat shaharsozlik kadastri geoaxborot tizimlarining quyi tizimlarida foydalanish uchun mo‘ljallangan, korxona va tashkilotlarning yangi tashkil etilgan axborot tizimlarida, shuningdek mavjud tizimlarni modernizatsiya qilishda yoki ular o‘rtasida ma‘lumot almashishda.";
                document.getElementById("pod5_p2").innerHTML = "Adres reestrlarining tuzilishi, haqiqiy manzil ma‘lumotiga qo‘shimcha ravishda, ko‘chmas mulk ob‘ektlarining kadastr (inventarizatsiya) raqamlari, soliq xizmatlari manzillari tasniflagichi kodlari, pochta indekslari va boshqa belgilar kabi ma‘lumotlarni o‘z ichiga olishi mumkin.";
                document.getElementById("pod5_p3").innerHTML = "Adres reestrlari - hududning ma‘muriy-hududiy tuzilishi va joylashuv tashkilot tuzilishiga muvofiq tizimlashtirilgan manzillashtirish ob‘ektlari to‘g‘risidagi rasmiy hujjatlashtirilgan ma‘lumotlar to‘plami.";
                document.getElementById("pod5_p4").innerHTML = "Adres reestrlari quyidagi funktsiyalarini ajratish mumkin:";
                document.getElementById("pod5_li1").innerHTML = "qo‘shish, tahrirlash, adres reestrlari semantik ob‘ektlarini yo‘q qilish (ma‘muriy-hududiy bo‘linish ob‘ektlari, ko‘chalar, ko‘chalardagi manzil bo‘linmalari, ma‘lumotnomalar);";
                document.getElementById("pod5_li2").innerHTML = "adres reestrining grafik ko‘rinishini yuritish (grafik ob‘ektlarni saqlash, semantikani grafikaga bog‘lash);";
                document.getElementById("pod5_li3").innerHTML = "xaritada ob‘ektlarni ko‘rsatish";
                document.getElementById("pod5_p5").innerHTML = "Adres reestri - bu har xil tuzilishga oid ma‘lumotlarni saqlash uchun mo‘ljallangan ikkita o‘zaro bog‘liq bo‘lgan tarkibiy elementlarning birikmasi:";
                document.getElementById("pod5_li4").innerHTML = "adresining hududiy ob‘ektlar tavsifi (manzil rejasi);";
                document.getElementById("pod5_li5").innerHTML = "semantik xususiyatlar (manzilning tarkibiy elementlarining nomlari).";



                document.getElementById("boshsahifa").innerHTML = "Bosh sahifa";
                document.getElementById("ichkitizimlar").innerHTML = "Ichki tizimlar";
                document.getElementById("bog'lanish").innerHTML = "Bog\'lanish";
                document.getElementById("register").innerHTML = "Registratsiya";
                document.getElementById("kirish").innerHTML = "Geoportalga kirish";
                document.getElementById("ochiq").innerHTML = "Ochiq ma\'lumotlar";
                        }
                }


   </script>


  
 {% endblock content %}


 {% block script %}

{% endblock script %}