 {% extends 'base.html' %}

 {% block style %}
<style type="text/css">
</style>
{% endblock style %}
 
 {% block content %}
 
      
 <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline services-head text-center">
            <h3>РЕЕСТР СУБЪЕКТОВ ГРАДОСТРОИТЕЛЬНОЙ ДЕЯТЕЛЬНОСТИ</h3>
            <hr>
          </div>
</div>

        <div class="modal-body">
                     <p class="modal_p">
                «Реестр субъектов градостроительной деятельности» осуществляет хранение информации о предприятиях, организациях, творческих коллективах, специалистах, оказывающих услуги в строительной, проектной, изыскательской деятельности, в разработке дизайна помещений, малых архитектурных форм, а также о службах администрации города и специалистах, на которых возложены функции управления и контроля за ходом строительства объектов городской инфраструктуры. 
              </p>
              <hr>
          <div class="modal-img">
            <a  data-magnify="gallery" data-caption="Градостроительная документация" href="/static/img/img_pods/22.jpg"><img src="/static/img/img_pods/22.jpg" width="65%" class="pod_img"></a>
          </div>
          <hr>


            <div class="modal-text">  
  
  
            <ul class="modal_p_ul">       
                 <p>
                Подсистема предназначена для автоматизированного ведения реестров субъектов градостроительной деятельности, к числу которых относятся:
              </p>
              <li>реестр юридических и физических лиц, осуществляющих градостроительную деятельность; </li>
              <li>реестр вещных и обязательственных прав субъектов на объекты недвижимости; </li>
              <li>реестр ограничений и обременений прав субъектов с привязкой к объектам недвижимости и соответствующим документам.</li>


              <p>
                Субъекты градостроительной деятельности могут выступать:
              </p>
                <li>заказчиками в области градостроительной деятельности;</li>
                <li>разработчиками градостроительной документации;</li>
                <li>подрядчиками по строительству объектов;</li>
                <li>пользователями объектов градостроительной деятельности.</li>
              </ul>

            </div>
<hr>
            <div class="row">
           <div class="col-md-6 col-sm-6 col-xs-12">
 <div class="modal-img">
            <a  data-magnify="gallery" data-caption="Градостроительная документация" href="/static/img/img_pods/23.jpg"><img src="/static/img/img_pods/23.jpg" class="pod_img"></a>
          </div>
    </div>
           <div class="col-md-6 col-sm-6 col-xs-12">
  <div class="modal-img">
            <a  data-magnify="gallery" data-caption="Градостроительная документация" href="/static/img/img_pods/24.jpg"><img src="/static/img/img_pods/24.jpg" class="pod_img"></a>
          </div>
            
            </div>
</div>
<hr>
              <p class="modal_p">
                Субъекты градостроительной деятельности имеют право получать от соответствующих государственных органов информацию о подготовке и принятии решений, связанных с предстоящей планировкой, застройкой и реконструкцией населенных пунктов, их систем и территорий, способных повлиять на их градостроительную деятельность.
              </p>

            </div>


  
 {% endblock content %}


 {% block script %}

{% endblock script %}