 {% extends 'base.html' %}

 {% block style %}
<style type="text/css">
</style>
{% endblock style %}
 
 {% block content %}
 
      
 <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline services-head text-center">
            <h3>НОРМАТИВНО-ПРАВОВАЯ ОСНОВА</h3>
            <hr>
          </div>
</div>

<div class="modal-body">
                <p class="modal_p">
              <b>Подсистема № 9 </b>– «Нормативно-правовая основа» предназначена для учета и использования нормативно-правовой и методической базы, утвержденной в установленном порядке. Она содержит законодательные акты, нормативные документы и методическую документацию по созданию и ведению ГГК.
              </p>
               <p class="modal_p">
            Нормативно-правовым актом является официальный документ, принятый в определенной форме, направленный на установление, изменение или отмену норм законодательства как общеобязательных государственных предписаний.
          </p>
          <p class="modal_p">
            <b>При формировании БД подсистемы № 9</b> – «Нормативно-правовая основа», определялась структура и содержание входной информации, технологическая схема движения, обработки и анализа потока информации, схема связей между таблицами.
          </p>  

          <ul class="modal_p_ul">
            <p>
            Исходными данными для баз данных подсистемы № 9 являются нормативно-правовые и методические документы по созданию и ведению ГГК. Все собранные исходные данные разделены по их категориям на следующие 4 группы:
          </p>
            <li>законодательные акты;</li>
            <li>директивные акты;</li>
            <li>организационно- распорядительные акты;</li>
            <li>нормативно-методологические акты.</li>
          </ul>
          <hr>
        <div class="modal-img">
            <a  data-magnify="gallery" data-caption="Градостроительная документация" href="/static/img/img_pods/25.jpg"><img width="60%" src="/static/img/img_pods/25.jpg" class="pod_img"></a>
          </div>
<hr>
            <div class="modal-text">  
 
             
          <p class="modal_p">
            Межведомственные нормативные акты (положения, инструкции, правила и др.) касающиеся  создания и ведения ГГК, вносятся в базу данных только после их обязательной регистрации  в Министерстве Юстиции в установленном  порядке.
          </p>
            </div>


</div>

  
 {% endblock content %}


 {% block script %}

{% endblock script %}