<!DOCTYPE html>
<html>
<head>

<style>
	a {
	  text-shadow: 1px 1px 5px powderblue;
	  text-decoration:none;
	}
</style>

</head>
<body>
<h3>Tabriklaymiz {{companyname}} siz ro'yxatdan o'tdingiz !</h3>
<p>Tasdiqlash uchun quyidagi havolani bosing !  </p>
<br>
	<a href="http://127.0.0.1:8100/emailcheck/{{stir}}"  style="border:1px solid success;padding:4px;border-radius:3px;border:1px dotted powderblue;padding:10px;background-color:lightgreen;font-size:24px">Tasdiqlash havolasi !</a>
</body>
</html>
<!--http://127.0.0.1:8100/-->
