<!DOCTYPE html>
<html>
<head>

<style>
	a {
	  text-shadow: 1px 1px 5px powderblue;
	}
</style>

</head>
<body>
<h3>{{company}} tashkilot azosi {{worker}} Qurilish vazirligiga yuborilgan tasdiqlash buyrug'i rad etildi!</h3>
<p>{{message}} !  </p>

<ul>
    <li><b>F.I.O: </b> {{user.full_name}}</li>
    <li><b>Paspot raqami: </b>{{user.passport_seria}}{{user.passport_number}}</li>
    <li><b>Telefon raqami: </b> {{user.contact}}</li>
    <li><b>Elektron pochtasi: </b> {{user.email}}</li>
</ul>

</body>
</html>
<!--http://127.0.0.1:8100/-->
